@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-lightest-gray: #fafafa;
  --color-lightest-blue: #f8fbff;

  --animate-left-right: animate-left-right 1.75s cubic-bezier(0.87, 0, 0.13, 1)
    infinite;

  @keyframes animate-left-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
